<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Senate</title>
    </head>
     <body id="Senate">
<div id="app" >
  <header>    
  <div class=" d-flex flex-row p-2 m-2 justify-content-between align-items-center">
            <div class="d-flex flex-row">
              <div class=" d-none d-md-inline"><img src="img/lupa_logo_1.png" alt="logo-lupa" class="lupa"></div>
              <h1>TGIF</h1>
            </div>
            <div>
              <a href="mailto:info@tgif.net?subject=TGIF%Information">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope d-inline d-md-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z "/>
                </svg>
              </a>
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope d-none d-md-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z "/>
                </svg>
                <a  class="d-none d-md-inline" href="mailto:info@tgif.net?subject=TGIF%Information">info@tgif.net</a>
            </div>
    </div>        
            
    </header>

<nav class="navbar navbar-expand-lg navbar-light bg-light border">
      <a class="navbar-brand  text-info" href="home.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Congress 113
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-info" href="house.html">House</a>
              <a class="dropdown-item text-info" href="senate.html">Senate</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attendance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-info" href="house-attendance.html">House</a>
              <a class="dropdown-item text-info" href="senate-attendance.html">Senate</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-info" href="house-party-loyalty.html">House</a>
              <a class="dropdown-item text-info" href="senate-party-loyalty.html">Senate</a>
            </div>
          </li>
        </ul>
      </div>
   </nav>         
   <main class="m-3" id="senate">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-3">Senators</h2>
                  <p class="text-justify">First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-8 col-md-9 ">
            <form onsubmit=" return false">
                          
                          <label>Filter By Party : 
                          <input type="checkbox" name="Party" value="R" v-model="party" checked > 
                          Republican
                          </label>

                          <label>
                          <input type="checkbox" name="Party" value="D" v-model="party" checked >Democrat
                          </label>
                          
                          <label>
                          <input type="checkbox" name="Party" value="ID" v-model="party" checked >
                          Independent
                         </label>

                      </form>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <form  onsubmit=" return false">
              <div class="input-group">
                     <div class="input-group-prepend">
                        <label class="input-group-text bg-transparent border-0" for="inputGroupSelect01">Filter By State :</label>
                    </div>
                    <select class="custom-select border bg-light" id="selectOption" v-model="stateSelected">
                        <option value="All">ALL</option>
                        <option :value="state" v-for="state in states">{{state}}</option>
                    </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive-md">
                    <table id="senate-data" class="table table-borderless table-hover text-center table-striped ">
                      <thead class="thead-light">
                        <tr>
                          <td>Full name</td>
                          <td>Party</td>
                          <td>State</td>
                          <td>Years in office</td>
                          <td>%  Votes with Party</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="member in filtered">
                          <td><a :href="member.url" target="_blank">{{member.first_name}} {{member.middle_name || ""}} {{member.last_name}}</a></td>
                          <td>{{member.party}}</td>
                          <td>{{member.state}}</td>
                          <td>{{member.seniority}}</td>
                          <td>{{member.votes_with_party_pct}} %</td>
                        </tr>
                      </tbody>
                    </table>   
                 </div>
          </div>
        </div>
      </div>
     </main>

        <footer class="bg-light text-center p-2">
          <p>@ 2016 TGIF | All Rights Reserved</p>
        </footer>
</div>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
<script src="js/main.js"></script>
</body>
</html>